.app-header {
  background-color: $clr1;


  nav {
    display: flex;
    justify-content: flex-start;

    font-size: 20px;

    a {
      background-color: $clr5;
      padding: 20px 20px;



      &:nth-child(1) {
        background-color: $clr3;

        &:hover {
          background-color: lighten($clr3, 5%);
        }
      }

      &:nth-child(2) {
        background-color: $clr5;

        &:hover {
          background-color: lighten($clr5, 5%);
        }

      }

      &:nth-child(3) {
        background-color: darken($clr5, 10%);

        &:hover {
          background-color:darken($clr5,5%);
        }
      }

      &:nth-child(4) {
        background-color: darken($clr5, 20%);
        clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);

        &:hover {
          background-color: darken($clr5, 15%);
        }
      }
    }
  }
}