.app-header {
  position: fixed;
  background-color: var(--clr1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Edu VIC WA NT Beginner', cursive;
  left: 0;

}

.app-header nav {
  display: flex;
  align-items: center;
}

.app-header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.app-header nav a:hover {
  color: #f0f0f0;
}


.app-header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}

.app-header nav a:hover {
  color: #f0f0f0;
}