.toy-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .toy-filter h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  
  
  .toy-filter input[type="text"],
  .toy-filter select {
    font-size: 1.2em;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .toy-filter input[type="text"]:focus,
  .toy-filter select:focus {
    outline: none;
    border-color: #00b8d4;
  }