:root {
    --clr1: #01b52e;
    --clr2: rgb(43, 43, 43);
  
    --clr1bg: #94d2bd;
    --clr1bg-light: #c1f1e1;
    --clr2bg: #ee9b00;
    --clr2bg-light: #e9d8a6;
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
  
  } 