* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $clr0;
  color: var(--gray3);
  overflow-y: none;
  overflow-x: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
  color: var(--clr2bg)
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

a.active {
  text-decoration: overline;
}